In [1]:
import fastparquet
import pandas as pd

In [2]:
device = pd.read_pickle("./device.pkl")
email = pd.read_pickle("./email.pkl")
file = pd.read_pickle("./file.pkl")
logon = pd.read_pickle("./logon.pkl")

In [3]:
device.head()

                         id                 date     user       pc    activity
0  {R8N4-R8YE70QN-3287FCGL}  01/01/2010 06:46:40  RPM0600  PC-9164     Connect
1  {S2M7-P6FL85EG-7721KZFG}  01/01/2010 07:33:10  RPM0600  PC-9164  Disconnect
2  {T6E3-Z4ZI24WS-2427MCYM}  01/01/2010 07:59:59  RPM0600  PC-9164     Connect
3  {U7O7-D2ZJ25RP-9120NPLP}  01/01/2010 08:02:14  WXW0044  PC-9422     Connect
4  {F4W5-B9ID71RL-3407HBRZ}  01/01/2010 08:05:12  CSD0242  PC-8696     Connect

In [4]:
email.head()

,id,date,to,from,size,attachments,content
0,{D3T6-O8NM96KK-4228FZKP},01/01/2010 07:27:08,Quinn.Kaden.Rojas@dtaa.com;Kendall.Petra.Burne...,Dominic.Alvin.Moody@dtaa.com,22069,1,millman hulce schlamme jolla zucker scardino g...
1,{R8H5-R2ZW22KL-0377UBLJ},01/01/2010 07:38:27,Ulysses.Marvin.Alvarado@dtaa.com;Adrian.Quenti...,William.Xerxes.Wiley@dtaa.com,23398,0,precentor chantor relationship quadripartitus ...
2,{N5A2-W5LE24AD-3983CXQJ},01/01/2010 07:51:52,Adena.Guinevere.Diaz@dtaa.com,Robert.Abdul.Weaver@dtaa.com,30045,0,illuminated mhr bingle bingle prudence smouts ...
3,{Q6U5-T5YU54VK-2335CAKA},01/01/2010 08:03:06,Sonia.Veda.Mclean@dtaa.com;Branden.Kirk.Aceved...,Doris.Wynne.Cervantes@dtaa.com,42409,0,paramore charcoal labruyere hypereides ctesicl...
4,{D7N3-R3FO94ZV-8686YZYX},01/01/2010 08:06:00,Katell.Fiona.Swanson@dtaa.com,Courtney.Jena.Garza@dtaa.com,42409,5,touchdowns adimchinobe warley arrington echema...

In [5]:
file.head()

,id,date,user,pc,filename,content
0,{M8R9-I5RI11PG-5467DBVR},01/01/2010 06:51:00,RPM0600,PC-9164,5B9VCBIU.doc,D0-CF-11-E0-A1-B1-1A-E1 m45 adss arxiv 1128955...
1,{K7D4-F3MJ16HT-2340NUGJ},01/01/2010 08:09:28,CSD0242,PC-8696,1I1WA4EL.txt,58-38-59-4B barbiger detmoldii labillardire 97...
2,{B1G0-C3CC52KM-8002OOIA},01/01/2010 08:17:52,CSD0242,PC-8696,GSQEMB1R.doc,D0-CF-11-E0-A1-B1-1A-E1 rearers broody fattene...
3,{D7F8-W4CG21DB-5694PJWH},01/01/2010 08:18:33,WXW0044,PC-9422,RDAOYBUK.txt,4B-4E-43-54 alboin salona turisindus audoin el...
4,{B7Y6-R0HX46WQ-8863CNGR},01/01/2010 08:20:17,CSD0242,PC-8696,D92Z9FA8.pdf,25-50-44-46-2D wreckhouse till31122007 59 nia ...

In [6]:
logon.head()

                         id                 date     user       pc activity
0  {Q9R3-U1PE27LQ-2164BJLT}  01/01/2010 06:20:00  SLW0616  PC-0110    Logon
1  {R1B6-S0LQ34EP-3361QPTV}  01/01/2010 06:28:00  RPM0600  PC-9164    Logon
2  {Y3R9-H0JY37RA-5902HXNX}  01/01/2010 07:04:00  DAM0170  PC-1525    Logon
3  {D5B1-I6BP26NF-3845HZNZ}  01/01/2010 07:23:00  WXW0044  PC-9422    Logon
4  {I0N6-I9PB69SZ-5272SLAT}  01/01/2010 07:31:00  RLD0349  PC-1290    Logon